# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Hardhat files
cache/
artifacts/
typechain/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Test coverage
coverage/

# TypeChain files
/typechain-types

# solidity-coverage files
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
